{:paths ["src" "resources"]
 :deps {br.com.eda/kafka     {:local/root "../../components/kafka"}
        metosin/jsonista     {:mvn/version "0.3.7"}
        org.slf4j/slf4j-simple {:mvn/version "2.0.7"}}} ;; Logger simples