{:paths ["src" "resources"]
 :deps  {;; HTTP & Roteamento
         metosin/reitit          {:mvn/version "0.7.0-alpha7"}
         ring/ring-jetty-adapter {:mvn/version "1.9.5"}
         metosin/muuntaja        {:mvn/version "0.6.8"} ;; JSON mágico
         nrepl/nrepl             {:mvn/version "1.0.0"}
         
        ;; Nossos Componentes
         br.com.eda/client       {:local/root "../../components/client"}
         br.com.eda/account      {:local/root "../../components/account"}
         br.com.eda/transaction  {:local/root "../../components/transaction"}
         br.com.eda/database     {:local/root "../../components/database"}
         br.com.eda/kafka        {:local/root "../../components/kafka"}}}