{:paths ["src" "resources"]
 :mvn/repos {"confluent" {:url "https://packages.confluent.io/maven/"}}
 :deps  {;; --- Bases ---
         br.com.eda/wallet-api          {:local/root "../../bases/wallet-api"}
         br.com.eda/event-processor     {:local/root "../../bases/event-processor"}

        ;; --- Componentes de D1omínio ---
         br.com.eda/account             {:local/root "../../components/account"}
         br.com.eda/client              {:local/root "../../components/client"}
         br.com.eda/transaction         {:local/root "../../components/transaction"}

        ;; --- Componentes de Infra ---
         br.com.eda/database            {:local/root "../../components/database"}
         br.com.eda/kafka               {:local/root "../../components/kafka"}

        ;; --- Libs de Runtime (Logging) ---
         ch.qos.logback/logback-classic {:mvn/version "1.4.11"}}}